PaperNinja/.vs
PaperNinja/Binaries
PaperNinja/Saved
PaperNinja/Intermediate/AssetRegistryCache
PaperNinja/Intermediate/Build
PaperNinja/Intermediate/Config
PaperNinja/Intermediate/ReimportCache
PaperNinja/Intermediate/CachedAssetRegistry.bin
